[user]
	email = ekaitz.zarraga@protonmail.com
	name = Ekaitz Zárraga
[core]
	editor = vim
[color]
	ui = auto
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = simple
[alias]
	lg = log --graph --oneline --decorate --all
