[user]
	email = ekaitz@elenq.tech
	name = Ekaitz Zarraga
[core]
	editor = nvim
[color]
	ui = auto
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[push]
	default = simple
[alias]
	lg = log --graph --oneline --decorate --all
